*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

section {
    background-color:aquamarine;
    border: 5px solid red;
}

.header, .footer{
    background-color: #1F2937;
}


/* Header */
.header{
    display: flex;
    justify-content: space-around;
}

.header .topnav{
    overflow: hidden;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
}

/* section 1 */

.section.one{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.section .hero-text p:first-of-type{
    font-size: 48px;
    font-weight:800;
    color: #F9FAF8;
}

.section .hero-text p:nth-of-type(2),
.header ul{
    font-size: 18px;
    color: #F9FAF8;
}

.hero-img{
    background-color: grey;
    width: 350px;
    height: 200px;
}

/* section 2 */
.illustration-container{
    display: flex;
    gap: 20px;
}

.section.two{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div img{
    width: 50px;
    height: 50px;

}

/* section 3 */

.section.three{
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}

section figure{
    border: 2px solid red;
    display:flex;
    flex-flow: column wrap;
}

figure .caption{
    align-self:flex-end;
}

/* section 4 */

.section.four{
    display:flex;
    justify-content: center;
    border: 2px solid red;
}

.cta-container{
    display: flex;
}

/* footer */

.footer{
    display:flex;
    justify-content: center;
    margin-bottom: 0;
}