*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

p{
    font-family: 'Roboto', sans-serif;
}
section {
    background-color:aquamarine;
    /* border: 5px solid red; */
}

.header, .footer{
    background-color: #1F2937;
}

button{
    background-color: #3882F6;
}

/* Header */
.header{
    display: flex;
    justify-content: space-around;
}

.header .topnav{
    overflow: hidden;
}

.header p:first-of-type{
    font-size: 24px;
    color: #F9FAF8;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
}

/* section 1 */

.section.one{
    padding: 2em 0;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.section .one button{
    border-radius:8px;
}

.hero-text{
    inline-size: 380px;
    overflow-wrap: break-word;
}

.section .hero-text p{
    font-size: 48px;
    font-weight:800px;
    color: #F9FAF8;
}

.section .hero-text p:nth-of-type(2),
.header ul,
footer{
    font-size: 18px;
    color: #F9FAF8;
}

.hero-img .hero-image{
    background-color: grey;
    width: 350px;
    height: 215px;
}

.hero-img {
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section 2 */
.section.two .info-header{
    font-size: 36px;
    font-weight:800;
    color:#1F2937;
}

.hero-text button{
    border:none;
    padding: 7px 1em;
    border-radius: 8px;
    width: 120px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.illustration-container{
    display: flex;
    gap: 20px;
    inline-size: 150px;
    overflow-wrap: break-word;
    justify-content: center;

}

.illustration-container p{
    font-size: 18px;
    color:#4c4d4f;
}
.section.two{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.illustration-container img{
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;

}

/* section 3 */

.section.three{
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}

section figure{
    /* border: 2px solid red; */
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    display:flex;
    flex-flow: column wrap;
}

figure .caption{
    align-self:flex-end;
}

/* section 4 */

.section.four{
    display:flex;
    justify-content: center;
    background-color: white;
    /* border: 2px solid red; */
}

.cta-container{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    padding: 2em;
    background-color: #3882F6;
    border-radius: 10px;
    width: 700px;
    justify-content: space-around;

}

.cta-left{
    font-size: 18px;
    color: white;

}


cta-left, cta-right{
    display:flex;

}

.cta-container button{
    font-size: 24px;
    color:#E5E7EB;
    text-decoration: none;
    border-radius: 8px;
}
/* footer */

.footer{
    display:flex;
    justify-content: center;
    margin-bottom: 0;
}